.home-button {
  background-color: blue;
  padding: 25px;
  width: 250px;
  border-radius: 7px;
  font-size: 32px;
}
.button:hover {
  background-color: rgb(153, 114, 153);
}
.home-container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background-color: pink;
  height: 80vh;
}
